<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div>
    <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" routerLink="path1"> Component 1</a>
      </li>
      <li>
          <a class="nav-link" routerLink="path2">Component 2</a>
        </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
<ul class="list-group alert alert-success" *ngFor="let info of list2">
    <li class="list-group-item text-info p-4 m-4 rounded-pill text-center">{{ info.name }} {{ info.phno }} {{ info.email }}</li>
</ul>
</div> 



